
body {
    background-color: #ECECEC;
}
/*-------------------
    Page accueil
--------------------*/

/* Section presentation*/
#presentation {
    margin-bottom:30px;
}

#presentation p {
    margin-top:40px;
    font-family: Arial, Helvetica, sans-serif;
}

.title4 {
    background-image: url("../img/titre.png");
    width:620px;
}

.title4 h1 {
    background-color: #ECECEC;
    width:350px;
    margin-left:25px;
    padding-left:15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px;
    
}
/* Footer*/
footer {
    background-color: #ebeef1;
    border-top: solid 2px ;
    padding-top: 10px;
}

footer a {
    margin-left:40px;
}

.title2 {
    background-image: url("../img/titre.png");
    width:570px;
}

.title2 h3 {
    background-color: #ECECEC;
    width:200px;
    margin-left:25px;
    padding-left:25px;
    font-family: 'Roboto', sans-serif;
}

.title3 {
    background-image: url("../img/titre.png");
    width:570px;
}

.title3 h3 {
    background-color: #ECECEC;
    width:200px;
    margin-left:25px;
    padding-left:20px;
    font-family: 'Roboto', sans-serif;
}
/*Section realisation*/
#realisations {
    border-top: solid 2px ;
    margin-bottom: 30px;

}

.title {
    background-image: url("../img/titre.png");
}

.title h2 {
    background-color: #ECECEC;
    width:300px;
    margin-left:25px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px;
}

/* credit */
.credit {
    background-color: #3E3E3E;
}

.credit p {
    color:white;
    text-align: right;
    line-height: 40px;
}


/*-----------------
    Page competence
-------------------*/

/* Section competence */
.title5 {
    background-image: url("../img/titre.png");
    width:620px;
}

.title5 h2 {
    background-color: #ECECEC;
    width:320px;
    margin-left:25px;
    padding-left:20px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px;
    text-transform: uppercase;
}

#competence p {
    margin-left: 35px;
    margin-top: 20px;
    font-weight: bold;
}
/* Section outils */
.title6 {
    background-image: url("../img/titre.png");
    width:620px;
}

.title6 h2 {
    background-color: #ECECEC;
    width:420px;
    margin-left:25px;
    padding-left:20px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px;
    text-transform: uppercase;
}

#outils {
    margin-bottom:90px;
}
#outils p {
    margin-left: 25px;
    margin-top: 20px;
    font-weight: bold;
}

.code {
    margin-left:15px;
}




